body, html {
    height: 100%;
    margin: 0;
    font-family:sans-serif;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/rack.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
font-size: 52px;
}

.navbar {
width: 95%;
margin: 0 auto;
}

header {
background: black;
}

header::after {
content:'';
display: table;
clear: both;
}

.logo {
float: left;
color: white;
font-size: 35px;
border: 2px solid white;
padding: 2px 4px;
}
.logo2 {
float: right;
color: white;
font-size: 35px;
border: 2px solid white;
padding: 2px 4px;
}


nav {
float: center;
}

nav ul {
margin: 0px;
padding: 0;
list-style:none;
}

nav li {
display: inline-block;
margin-left: 225px;
padding-top: 30px;
}

nav a {
color: white;
text-decoration: none;
font-size: 20px;

}

.text-box {
 position: absolute;
top:600px;
    bottom:0px;
    right: 0px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 50px;
    margin-right: 800px;
    height: 300px;
    width: 30%;
}

.donate-text {
font-size: 26px;
}

.text-box2 {
 position: absolute;
top:1000px;
    bottom:5px;
    right: 0px;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 50px;
    margin-right: 550px;
    height: 250px;
    width: 30%;
}

.shopping-text {
font-size: 22px;
}

.footer {
text-align: center;
color: black;
font-size: 35px;
border: 2px solid black;
padding: 20px 4px;
margin-right: 600px;
margin-left: 600px;
}

ul.footer-text {
text-align: center;
font-size: 30px;
margin: 0px;
padding: 5px;
list-style:none;
}

footer li {
line-height:200%;
}





